<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Info basica sobre WebServers</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
		{{> header}} <!-- header desde archivo header.hbs -->

		<!-- Nav -->
		{{> navbar}} <!-- navbar desde archivo navbar.hbs -->

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Funcionamiento de un servidor web</h2>
							<p>18.05.2022</p>
						</header>
						<div class="content">
							<p>Para el funcionamiento correcto de un servidor web necesitamos un cliente web que realice una petición http o https a través de un navegador como Chrome, Firefox o Safari y un servidor donde esté almacenada la información.</p>

							<p>El proceso sería el siguiente: Tras la primera consulta por parte del usuario hacia una web, se establece una conexión entre el servidor DNS y el ordenador que realiza la consulta o petición. Este servidor DNS responde con la dirección IP correcta del servidor web donde está alojado el contenido solicitado.</p>

							<p>El siguiente paso sería solicitar el contenido al servidor web mediante el protocolo HTTP/HTTPS.</p>

							<p>Una vez que el servidor web ha recibido la solicitud del contenido solicitado por el cliente web, deberá procesar la solicitud hasta encontrar el contenido solicitado dentro del dominio correspondiente.</p>

							<p>Envía el contenido solicitado al cliente web que lo solicitó. Tienes que tener en cuanta que existen diferencias entre un servidor web y un hosting web.</p>
						</div>
						<footer>
							<ul class="actions">
								<li><a href="/" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a></li>
								<li><a href="elements" class="button alt icon fa-chevron-right"><span class="label">Next</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

		<!-- footer -->
		{{> footer }} <!-- footer desde footer.hbs -->

	</body>
</html>