<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ titulo }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
		{{> header}} <!-- header desde archivo header.hbs -->

		<!-- Nav -->
		{{> navbar}} <!-- navbar desde archivo navbar.hbs -->

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>Bienvenidos</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>WebServer de Ejemplo</h2>
							<p>18.05.2022</p>
						</header>
						<div class="content">
							<p>Un servidor web es un software que forma parte del servidor y tiene como misión principal devolver información (páginas) cuando recibe peticiones por parte de los usuarios.</p>
						</div>
						<footer>
							<a href="generic" class="button alt">Mas Info</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Learn More</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Cosas que me gustan - Cultura de Japón</h2>
							<p>18.05.2022</p>
						</header>
						<div class="content">
							<p>Su cultura, fuertemente influenciada por la China en sus orígenes, posee unos 2677 años de antigüedad, y se caracteriza por una lengua propia, religiones propias y tradiciones propias, pero amalgamadas en un complejo proceso de sincretismo a lo largo de los siglos.</p>
						</div>
						<footer>
							<a href="generic" class="button alt">Mas Info</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Learn More</a>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Cosas que me gustan - Cultura del Motociclismo</h2>
							<p>18.05.2022</p>
						</header>
						<div class="content">
							<p>Los moteros son personas de todas las edades (entre 18 y 50 años normalmente) que se reúnen con sus motos por el placer de conducir. Suelen juntarse en los llamados "Clubs de Motociclistas" (Motorcycle Clubs o Riding Clubs) que pueden ser desde organizaciones informales que ven las motos como un hobby, hasta bandas mucho más organizadas y jerarquizadas. El origen de los clubes de moteros surge y se populariza en Estados Unidos, aunque en la actualidad existen clubes de moteros en países como México, Canadá, Australia, Escocia o Ecuador.</p>
						</div>
						<footer>
							<a href="generic" class="button alt">Mas Info</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Learn More</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Mi objetivo - Convertirme de Desarrollador Full Stack</h2>
							<p>18.05.2022</p>
						</header>
						<div class="content">
							<p>El desarrollador Full-Stack se dedica a mantener y optimizar los sitios web, desarrollar aplicaciones Back-End y asegurar su funcionamiento. Además, manejan distintos sistemas operativos y lenguajes de programación.</p>
						</div>
						<footer>
							<a href="generic" class="button alt">Mas Info</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- footer -->
		{{> footer }} <!-- footer desde footer.hbs -->

	</body>
</html>